[submodule "vim/.vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/.vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/.vim/pack/plugins/start/vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/plugins/start/vim-sensible"]
	path = vim/.vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/plugins/start/vim-tmux-yank"]
	path = vim/.vim/pack/plugins/start/vim-tmux-yank
	url = https://github.com/jabirali/vim-tmux-yank.git
[submodule "vim/.vim/pack/plugins/start/vim-fish"]
	path = vim/.vim/pack/plugins/start/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/.vim/pack/plugins/start/fzf"]
	path = vim/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/plugins/start/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/gruvbox"]
	path = vim/.vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/pack/plugins/start/vim-vinegar"]
	path = vim/.vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/.vim/pack/plugins/start/vim-sneak"]
	path = vim/.vim/pack/plugins/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vim/.vim/pack/plugins/start/vim-surround"]
	path = vim/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/plugins/start/vim-commentary"]
	path = vim/.vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
