[[mgr.prepend_keymap]]
on = "H"
run = "plugin duckdb -1"
desc = "Scroll one column to the left"

[[mgr.prepend_keymap]]
on = "L"
run = "plugin duckdb +1"
desc = "Scroll one column to the right"

[[mgr.prepend_keymap]]
on = ["g", "o"]
run = "plugin duckdb -open"
desc = "open with duckdb"

[[mgr.prepend_keymap]]
on = ["g", "u"]
run = "plugin duckdb -ui"
desc = "open with duckdb ui"


[[mgr.prepend_keymap]]
on = ["g", "M"]
run = "layout 0 0 1"
desc = "Maximize preview"

[[mgr.prepend_keymap]]
on = ["g", "m"]
run = "layout 1 1 3"
desc = "Restore layout"
